<div class="container pt-3">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title text-center">{{isUpdateMode ? 'Modifier livre' : 'Nouveau livre'}}</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="bookForm">
            <div class="card-body">
              <div class="col-md-12">
                <label>Nom</label><br>
                <input class="form-control" formControlName="name" name="name" type="text">
              </div>
              <div class="col-md-12">
                <label>Description</label><br>
                <textarea class="form-control" formControlName="description" name="description" type="text"></textarea>
              </div>
              <div class="col-md-12">
                <label>Auteur</label><br>
                <input class="form-control" formControlName="author" name="author" type="text">
              </div>
              <div class="col-md-12">
                <label>Prix</label><br>
                <input class="form-control" formControlName="price" name="price" type="number">
              </div>
              <div class="col-md-12">
                <label>Quantité</label><br>
                <input class="form-control" formControlName="quantity" name="quantity" type="number">
              </div>
              <div class="col-md-12">
                <label>Image</label><br>
                <input (change)="bookPicChange($event)" class="form-control-file" formControlName="picByte" name="picByte"
                       type="file">
                <img *ngIf="imgUrl" [src]="imgUrl" height="80" width="80">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <a class="btn btn-sm btn-primary" routerLink="/books">
            <i class="fa fa-chevron-circle-left"></i> Retour à la liste
          </a>
          <button (click)="save()" class="btn btn-sm btn-danger ml-2" type="submit">
            <i class="fa fa-floppy-o"></i> Enregistrer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
